<h2>{{product.nombre}}</h2>
<p>{{product.categoria}}</p>
<p>{{product.descripcion}}</p>
<p>${{product.precio}}</p>

<form action="/api/carts/{{cartId}}/products/{{product._id}}" method="POST">
  <label for="quantity">Cantidad:</label>
  <input
    type="number"
    name="quantity"
    value="1"
    min="1"
    max="{{product.stock}}"
  />
  <button type="submit">Agregar al carrito</button>
</form>

<a href="/products">⬅ Volver a productos</a>